html,
body {
  padding: 0;
  margin: 0;
}
#site {
  background: lightblue;
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#site #tetris {
  border: 1px solid brown;
  width: 240px;
  height: 400px;
}
